*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 50%;

    @include md {
        font-size: 62.5%;
    }
}

body {
    box-sizing: border-box;
    background-color: $white;
    padding: 0 16px;

    @include md {
        padding: 0 24px;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section,
footer {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}
