@import 'variables';
@import 'breakpoint';
@import 'base';
@import 'typography';




/* footer section */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem 0;
    margin-top: 4rem;
    border-top: $thin-grey-border;

    a {
        color: $blue;
        &:hover {
            text-decoration: underline;
        }
    }

    .footer-brand {
        display: none;

        @include rwd(1000) {
            display: flex;
            align-items: flex-start;
            & .iconify {
                margin-right: 2rem;
                font-size: 24px;
                color: $no-fill;
                cursor: pointer;
                &:hover {
                    color: $no-fill-hover;
                }
            }
        }
    }

    ul.footer-links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: center;

        @include rwd(940) {
            justify-content: space-between;
        }

        & li {
            font-size: $small-font-size;
            &:not(:last-of-type) {
                margin-right: 3rem;
            }
        }

        & .copyright {
            white-space: nowrap;
            & .fa-copyright {
                font-size: 9px;
            }
        }
    }
}
