@import 'variables';
@import 'breakpoint';
@import 'base';
@import 'mixins';
@import 'typography';

// navbar
nav {
    // nav template styles
    & .nav-brand {
        & .iconify {
            font-size: 32px;
            color: $white;
            transition: color 0.2s;
            vertical-align: bottom;
        }
    }

    & .nav-toggle {
        align-self: center;
        color: $white;
        font-size: 24px;
        cursor: pointer;
        z-index: 100;

        @include md {
            display: none;
        }
    }

    & .nav-toggle,
    & .nav-brand .iconify {
        &:hover {
            color: $spindle;
        }
    }

    & .search-bar {
        display: flex;
        align-items: center;
        border: 1px solid $shadow-grey;
        font-weight: 400;
        border-radius: 7px;
        background-color: $fauxblack;
        height: 30px;
        margin: 0 16px;
        width: 272px;

        img {
            margin-right: 8px;
            width: 19px;
            height: 20px;
        }

        input {
            background: none;
            font-size: inherit;
            color: $white;
            box-shadow: none;
            width: 100%;
            outline: none;
            text-indent: 10px;
            border-style: none;
            min-height: 28px;

            &::-webkit-input-placeholder {
                color: $iron;
                letter-spacing: 0.3px;
            }
        }

        @include dskf(768) {
            width: 100%;
            margin: 0;
        }
    }

    & .notification-bell {
        font-size: 16px;

        position: relative;

        & .indicator {
            position: absolute;
            width: 8.5px;
            height: 8.5px;
            border-radius: 50%;
            top: -3px;
            right: 1px;
            background-color: #006eed;
        }
    }

    & a {
        font-weight: 600;
        font-size: $default-font-size;
        color: $white;
        transition: color 0.2s ease;

        &:hover {
            color: hsla(0, 0%, 100%, 0.7);
        }
    }

    & .account,
    .profile-link {
        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    // controls which nav to show
    @include dskf(768) {
        &.nav-lg {
            display: none;
        }

        &.nav-sm {
            display: flex;
        }
    }

    @include md {
        &.nav-sm {
            display: none;
        }
    }
}

// nav for lager screens
.nav-lg {
    @include flexspacebtw;
    background-color: $fauxblack;
    width: 100vw;
    padding: 15px 32px;

    & .nav-group-left {
        display: flex;
        align-items: center;
    }

    & .nav-list {
        display: flex;
        align-items: center;

        & li:not(:last-of-type) {
            margin-right: 1.6rem;
        }

        // toggle btw pull requests and pulls nav item
        & .sm {
            @include rwd(1011) {
                display: none;
            }
        }

        & .lg {
            display: none;
            @include rwd(1011) {
                display: initial;
            }
        }
    }

    & .nav-group-right {
        display: flex;
        align-items: center;
        flex-wrap: no-wrap;

        & .notification-bell,
        & .create,
        & .account {
            color: $white;

            &:hover {
                color: hsla(0, 0%, 100%, 0.7);
            }
        }

        .iconify {
            font-size: 16px;
        }

        & .fa-caret-down {
            font-size: 13px;
            margin-left: 3px;
        }

        & > div {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:last-of-type) {
                margin-right: 16px;
            }
        }
    }
}

// nav for smaller screens
.nav-sm {
    width: 100vw;
    background-color: $fauxblack;
    display: flex;
    flex-direction: column;
    padding: 16px;
    // position: relative;

    & .iconify {
        color: $white;

        &:hover {
            color: hsla(0, 0%, 100%, 0.7);
        }
    }

    & .nav-topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .notification-bell {
        cursor: pointer;
    }

    & .indicator {
        transform: translate(-1px, 2px);
    }

    &.open {
        .nav-dropbar {
            display: initial;
        }
    }

    & .nav-dropbar {
        display: none;
        margin-top: 16px;
        width: 100%;
    }

    & .search-bar {
        height: 30px;
        margin-bottom: 16px;
    }

    & .nav-list li:first-of-type {
        border-top: 1px solid hsla(0, 0%, 100%, 0.15);
    }

    & .nav-list li {
        padding: 8px 0;
        border-top: 1px solid hsla(0, 0%, 100%, 0.15);
    }

    & .nav-list a {
        display: block;
    }

    & .profile-link {
        padding: 8px 0;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
        width: 100%;
        display: flex;
        align-items: center;

        img {
            margin-right: 3px;
        }
    }

    & .signout {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 0;
        color: $white;

        &:hover {
            color: hsla(0, 0%, 100%, 0.7);
        }

        & .iconify {
            margin-right: 3px;
        }
    }
}

.main-content {
    display: flex;
    flex-direction: column;

    @include md {
        margin-top: 2.4rem;
        flex-direction: row;
    }
}

// account info section
.user-details {
    width: 100%;
    max-width: 312px;

    & .empty {
        
        display: none;

        @include md {
            display: block;
            width: 100%;
            height: 42px;
            background-color: transparent;
            border-bottom: $thin-grey-border;
            border-color: transparent;
        }
    }

    .container {
        padding: 0 1.6rem;

        @include dskf(768) {
            width: calc(100vw - 32px);
        }

        @include md {
            margin-top: -3rem;
        }
    }

    & .avatar-container {
        position: relative;
        display: grid;
        gap: 2rem;
        grid-template-columns: 0.3fr 1fr;
        padding-right: 16px;

        @include dskf(768) {
            // prevents contents from being shrinked by inner padding
            width: calc(100vw - 32px);
            padding-top: 0.5px;
        }

        @include md {
            padding-right: 0;
            display: block;

            & .hide-md {
                display: none;
            }
        }
    }

    & .status {
        left: 85%;
        bottom: 0;
        height: 33px;
        border-radius: 6px;
        width: 100%;
        display: flex;
        align-items: center;
        color: $grey;
        background-color: $white;
        padding: 10px;
        border: 1px solid #e1e4e8;
        box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
        white-space: nowrap;
        cursor: pointer;
        // take up full width on mobile
        grid-column-start: span 2;

        .iconify {
            font-size: 16px;
        }

        &:hover {
            color: $blue;
        }

        & p {
            @include md {
                display: none;
            }
            font-size: $small-font-size;
            margin-left: 0.3rem;
        }

        @include md {
            left: 85%;
            bottom: 20%;
            position: absolute;
            border-radius: 2em;
            height: 38px;
            z-index: 2;
            width: fit-content;

            &:hover {
                & p {
                    display: initial;
                }
            }
        }
    }

    img {
        border-radius: 50%;
        max-width: 28rem;
        max-height: 28rem;
        width: 100%;
        cursor: pointer;
    }

    & h1 {
        font-size: 26px;
        line-height: 1.25;
        font-weight: 600;
        color: $fauxblack;
    }

    & .hide-sm {
        display: none;

        @include md {
            display: initial;

            & p {
                padding-bottom: 16px;
            }

            & h1 {
                padding-top: 12px;
            }
        }
    }

    & .account-info {
        padding: 1.6rem 0;

        & p {
            font-size: $medium-font-size;
            font-weight: 300;
            line-height: 24px;
        }
    }

    & .bio-info {
        font-size: 16px;
        color: $fauxblack;
        padding: 8px 0;

        @include md {
            padding: 0;
        }
    }
}

// make tabs section sticky at top 0
.empty,
.tabs-section {
    z-index: 50;
    position: sticky;
    top: 0;
}

// tabs section
.tabs-section {
    background-color: $white;
    border-bottom: $thin-grey-border;

    & ul {
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
    }

    & li {
        padding: 0.8rem 1.6rem;
        white-space: nowrap;
        font-size: 14px;
        border-bottom: 2px solid transparent;

        a {
            @include flexmiddle;
            color: $fauxblack;
            cursor: pointer;

            & .iconify {
                display: none;
                font-size: 16px;
                margin-right: 8px;
                color: $inactive-icon;

                @include md {
                    display: initial;
                }
            }
        }

        &:not(.active-tab) {
            &:hover {
                border-color: $no-fill;
            }
        }

        &.active-tab {
            border-color: $orange;
            font-weight: 600;

            & .iconify {
                color: $fauxblack;
            }
        }

        & #repo-count {
            padding: 0 6px;
            margin-left: 4px;
            font-size: $small-font-size;
            font-size: 500;
            line-height: 18px;
            background-color: rgba(209, 213, 218, 0.5);
            border-radius: 2em;
            border: 1px solid transparent;
        }
    }
}

// repos section
.repos-section {
    & .search-bar {
        padding: 1.6rem 0;
        margin: 0 1.6rem;
        border-bottom: $thin-grey-border;

        & input {
            width: 100%;
            padding: 0.5rem 1.2rem;
            border-radius: $small-border-radius;
            font-size: $default-font-size;
            // outline: none;
            line-height: $medium-font-size;
            border: $thin-grey-border;
            box-shadow: $subtle-box-shadow;
        }
    }

    & .repo-list {
        padding: 0 1.6rem;

        & li {
            padding: 2.4rem 0;

            &:not(:last-of-type) {
                border-bottom: $thin-grey-border;
            }
        }

        & .repo-title-row {
            @include flexspacebtw;
        }

        a {
            color: $blue;
            font-weight: 600;
            font-size: $medium-font-size;

            &:hover {
                text-decoration: underline;
            }
        }

        button {
            @include flexmiddle;
            @include buttontransform;

            &:hover {
                background-color: #f3f4f6;
                border-color: rgba(27, 31, 35, 0.15);
                transition-duration: 0.1s;
            }

            & .iconify {
                font-size: 14.82px;
                margin-right: 4px;
            }
        }

        & .repo-description {
            display: inline-block;
            margin-bottom: 0.8rem;
            padding-right: 2.4rem;

            max-width: 68%;

            @include md {
                max-width: 50%;
            }
        }
    }

    & .repo-metadata {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 0.8rem;
        font-size: $small-font-size;

        & > span {
            @include flexmiddle;
            margin-right: 1.6rem;

            & :first-child {
                margin-right: 0.4rem;
            }
        }

        & .language-color-code {
            position: relative;
            background-color: red;
            width: 12px;
            height: 12px;
            border-radius: 50%;
        }
    }

    & .forks,
    .stargazers {
        cursor: pointer;

        & .iconify {
            font-size: 14.82px;
            color: $grey;
        }

        &:hover {
            color: $blue;

            & .iconify {
                color: $blue;
            }
        }
    }
}

/* footer section */
footer {
    @include flexspacebtw;
    width: 100%;
    padding: 4rem 0;
    margin-top: 4rem;
    border-top: $thin-grey-border;

    a {
        color: $blue;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer-brand {
        display: none;

        @include xl {
            display: flex;
            align-items: flex-start;

            & .iconify {
                // margin-right: 2rem;
                font-size: 24px;
                color: $no-fill;
                cursor: pointer;

                &:hover {
                    color: $no-fill-hover;
                }
            }
        }
    }

    .footer-links {
        @include flexmiddle;
        flex-wrap: wrap;
        width: 100%;

        @include xl {
            justify-content: space-between;
            padding: 0;
        }

        & li {
            font-size: $small-font-size;

            &:first-of-type {
                margin-left: 2rem;
            }

            &:not(:last-of-type) {
                margin-right: 3rem;
            }
        }

        & .copyright {
            white-space: nowrap;
        }

        & .fa-copyright {
            font-size: 9px;
        }
    }
}
