/* fontsizes */
/**
 * Breakpoint mixins
 **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%;
  scroll-behavior: smooth; }
  @media (min-width: 769px) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box;
  background-color: #FFF;
  padding: 0 16px; }
  @media (min-width: 769px) {
    body {
      padding: 0 24px; } }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

main,
footer {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto; }

body {
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #586069;
  line-height: 1.7; }

.main-content {
  display: flex; }

.user-details {
  width: 100%;
  max-width: 280px;
  padding: 0.8rem; }
  @media (min-width: 769px) {
    .user-details {
      padding: 1.6rem; } }
  .user-details .avatar-container {
    position: relative; }
  .user-details .status {
    position: absolute;
    left: 85%;
    bottom: 20%;
    z-index: 2;
    height: 38px;
    display: flex;
    align-items: center;
    color: #586069;
    background-color: #FFF;
    padding: 10px;
    border-radius: 2em;
    border: 1px solid #e1e4e8;
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04); }
    .user-details .status .iconify {
      font-size: 16px; }
    .user-details .status p {
      display: none;
      font-size: 12px;
      margin-left: 0.3rem; }
    .user-details .status:hover {
      color: #0366D6;
      width: fit-content; }
      .user-details .status:hover p {
        display: initial; }
  .user-details img {
    border-radius: 50%;
    max-width: 28rem;
    width: 100%; }
  .user-details h1 {
    font-size: 26px;
    line-height: 1.25;
    color: #24292E; }
  .user-details .account-info {
    padding: 1.6rem 0; }
    .user-details .account-info p {
      font-size: 20px;
      font-weight: 300;
      line-height: 24px; }
  .user-details .bio-info {
    font-size: 16px;
    color: #24292E; }

.tabs-section ul {
  margin-top: 2.4rem;
  display: flex;
  max-width: 60rem; }

.tabs-section li {
  width: 100%; }
  .tabs-section li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem; }
    .tabs-section li a span {
      margin-right: 0.4px; }

.repos-section {
  padding: 0 0.8rem; }
  .repos-section .search-bar {
    padding: 1.6rem 0;
    border-bottom: 1px solid #E1E4E8; }
    .repos-section .search-bar input {
      width: 100%;
      padding: 0.5rem 1.2rem;
      border-radius: 6px;
      font-size: 14px;
      line-height: 20px;
      border: 1px solid #E1E4E8;
      box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2); }
  .repos-section .repo-list li {
    padding: 2.4rem 0; }
    .repos-section .repo-list li:not(:last-of-type) {
      border-bottom: 1px solid #E1E4E8; }
  .repos-section .repo-list .repo-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .repos-section .repo-list a {
    color: #0366D6;
    font-weight: 600;
    font-size: 20px; }
  .repos-section .repo-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #24292E;
    cursor: pointer;
    background-color: #FAFBFC;
    border-radius: 6px;
    border: 1px solid;
    border-color: rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color; }
    .repos-section .repo-list button:hover {
      background-color: #f3f4f6;
      border-color: rgba(27, 31, 35, 0.15);
      transition-duration: 0.1s; }
    .repos-section .repo-list button .iconify {
      font-size: 14.82px;
      margin-right: 4px; }
  .repos-section .repo-list .repo-description {
    display: inline-block;
    margin-bottom: 0.8rem;
    padding-right: 2.4rem;
    max-width: 68%; }
    @media (min-width: 769px) {
      .repos-section .repo-list .repo-description {
        max-width: 50%; } }
  .repos-section .repo-metadata {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.8rem;
    font-size: 12px; }
    .repos-section .repo-metadata > span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.6rem; }
      .repos-section .repo-metadata > span :first-child {
        margin-right: 0.4rem; }
    .repos-section .repo-metadata .language-color-code {
      position: relative;
      background-color: transparent;
      width: 12px;
      height: 12px;
      border-radius: 50%; }
  .repos-section .forks,
  .repos-section .stargazers {
    cursor: pointer; }
    .repos-section .forks .iconify,
    .repos-section .stargazers .iconify {
      font-size: 14.82px;
      color: #586069; }
    .repos-section .forks:hover,
    .repos-section .stargazers:hover {
      color: #0366D6; }
      .repos-section .forks:hover .iconify,
      .repos-section .stargazers:hover .iconify {
        color: #0366D6; }

/* footer section */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4rem 0;
  margin-top: 4rem;
  border-top: 1px solid #E1E4E8; }
  footer a {
    color: #0366D6; }
    footer a:hover {
      text-decoration: underline; }
  footer .footer-brand {
    display: none; }
    @media (min-width: 1000px) {
      footer .footer-brand {
        display: flex;
        align-items: flex-start; }
        footer .footer-brand .iconify {
          margin-right: 2rem;
          font-size: 24px;
          color: #D1D5DA;
          cursor: pointer; }
          footer .footer-brand .iconify:hover {
            color: #6A737D; } }
  footer .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; }
    @media (min-width: 940px) {
      footer .footer-links {
        justify-content: space-between; } }
    footer .footer-links li {
      font-size: 12px; }
      footer .footer-links li:not(:last-of-type) {
        margin-right: 3rem; }
    footer .footer-links .copyright {
      white-space: nowrap; }
    footer .footer-links .fa-copyright {
      font-size: 9px; }
